@import "tailwindcss";

@theme {
    --color-primary: #ea6d27;
    --color-dark: #101a24;
    --color-gray: #e4e4e4;

    --radius-4xl: 4rem;

    --breakpoint-sm: 540px;
}

@layer base {
    p {
        @apply text-lg text-black;
    }

    h3 {
        @apply text-lg text-black font-bold;
    }
}

@layer components {
    .rounded-btn {
        @apply rounded-tl-3xl rounded-br-3xl rounded-tr-md rounded-bl-md;
    }
}